@model List<Livro>

@{
    ViewData["Title"] = "Listagem de Livros";
    int pgTotal = Int32.Parse(ViewData["PgTotal"].ToString());
}

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" method="POST">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="Autor">Autor</option>
                    <option value="Titulo">Título</option>
                </select>
            </div>
            <div class="form-group mb-2 mx-sm-3">
                <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Ano</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    @foreach (Livro l in Model)
                    {
                        <tr>
                            <td>@l.Id</td>
                            <td>@l.Titulo</td>
                            <td>@l.Autor</td>
                            <td>@l.Ano</td>
                            <td><a href="/Livro/Edicao/@l.Id">Editar</a></td>
                        </tr>
                    }
                }

                else
                {
                    <tr>
                        <td id="lst-vazia" colspan="5">"Nenhum Registro Encontrado!"</td>
                    </tr>
                }
            </tbody>
        </table>
        <nav id="paginacao">
            <ul class="pagination justify-content-center">
                @for (var p = 1; p <= pgTotal; p++)
                {
                    <li id="page-li" class="page-item">
                        <a id="page-a" class="page-link" href="/Livro/Listagem?pgAtual=@p">@p</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>